//- Mixin for header navigation menu
mixin navigation__item(link, name)
  li.navigation__item
    a(href= link).navigation__link= name

mixin min-article(link, img, alt, h6, comment, like)
  .min-article__block
    a(href= link)
      img(src= img, alt= alt)
      .min-article__block-info
        h6= h6
        .comment-like
          .comment
            = comment
          .like
            = like

//- Online course
mixin online-course
  .course-wrap
    .online-course
      .online-course__description
        h2 Регистрируйтесь на онлайн-курс «Аутизм и аутоподобные состояния»
        .online-course__description-more
          .date
            p 4-7 мая
            span 12 лекций по 1,5 часа
          p Курс для родителей аутичных детей и психологов, начинающих работу с аутичными детьми. 
            | Продолжу рассказ об особенностях речи Никиты. Безглагольность — 
            | это не просто его речевое своеобразие, это отражение сути 
            | его мировосприятия.
      form(action="get").online-course__form-entry
        .submit
          .submit__input
            label(for="name" class="user")
            input(type="text" id="name" placeholder="ФИО")
          .submit__block
            .submit__input
              label(for="num" class="telephone")
              input(type="number" id="num" placeholder="Ваш телефон")
            .submit__input
              label(for="email" class="email")
              input(type="text" id="email" placeholder="Ваш электронный адрес")
        .submit
          .submit__input
            p уже идут
              span 1124
              | человек
            input(type="button" value="Записаться").button

mixin theme-blog(linkBlog, category, title, month, year, comment, like, img, alt, p, href)
    a(href= linkBlog).theme-blog
      span= category
      h3= title
      .theme-blog__date-like
        .date
          span= month
          span= year
        .comment-like
          .comment
            = comment
          .like
            = like
      img(src= img, alt= alt)
      p= p
      p.more-link Читать

//- Near event
mixin near-event(img, alt, date1, date2, date3, course, h5, p, enroll, when)
  .near-event__block
    img(src= img, alt= alt)
    .near-event__about
      .near-event__date-duration
        span= date1
        span= date2
        span= date3
      .near-event__text-enroll
        .near-event__text
          p= course
          h5= h5
          p= p
        .near-event__enroll
          a(href= enroll).button Записаться
          p= when

//- Comment's
mixin comment(img, name, h5, date, text)
  .comment
    img(src= img, alt="")
    .comment-text
      span= name
      h5= h5
      span= date
      p= text

//- Course entry
mixin course-entry(category, h2, srcImg, alt, time, lection, dur, price, h6_1, text, li_1, li_2, li_3, li_4, level)
  .course-entry
    span= category
    h2= h2
    img(src= srcImg, alt= alt)
    .course-entry__description
      .course-entry__when
        .course-entry__start
          h6 Начало
          span= time
        .course-entry__start
          h6 Длительность
          span= lection
          span= dur
        .course-entry__start
          h6 Стоимость
          span= price
        .course-entry__start
          h6= h6_1
      .course-entry__text
        p= text
        h6 Основные темы:
        ul
          li= li_1
          li= li_2
          li= li_3
          li= li_4
        h6 Уровень: 
          span= level
        .course-entry__form
          h4 Регистрация на курс
          form(action="get")
            .submit
              label(for="name").user Как вас зовут?
              input(type="text" placeholder="ФИО")
            .submit
              .course-entry__form-number
                label(for="number").telephone Телефон
                input(type="number" placeholder="Ваш телефон")
              .course-entry__form-mail
                label(for="email").email Электронный адрес
                input(type="email" placeholder="Ваш электронный адрес")
            a(href="#").button Записаться

//- Detail blog
mixin detail-blog(category, h3, date, comment, like, srcImg, alt, text, srcImg_2, alt_2, text_2, text_3, srcImg_3, alt_3, text_4, text_5, text_6, srcImg_4, alt_4, text_7, text_8, text_9, text_10, text_11, text_12)
  .detail-blog
    span= category
    h3= h3
    .comment-like
      span= date
      .comment
        = comment
      .like
        = like
    img(src= srcImg, alt= alt)
    .detail-blog__inner
      .detail-blog__text
        p= text
        img(src= srcImg_2, alt= alt_2)
        p= text_2
        p= text_3
        img(src= srcImg_3, alt= alt_3)
        p= text_4
        p= text_5
        p= text_6
        img(src= srcImg_4, alt= alt_4)
        p= text_7
        p= text_8
        p= text_9
        p= text_10
        p= text_11
        p= text_12
      .detail-blog__tell-friend
        span Расскажите друзьям
        a(href="#").min-fb


//- Sidebar
mixin author
  .min-author
    img(src="../img/Irina-Koolish.jpg", alt="Ирина Кулиш")
    h5 Здравствуйте, уважаемые читатели!
    p 
      | Меня зовут Ирина Кулиш. Моя специальность по диплому практический 
      | психолог. Аутизм — это не просто «слово на букву А». 25 лет работы с аутичными детьми и их 
      | родителями — это 25 лет моей жизни.
    a(href="../about.html").more-link Узнать подробнее

mixin subscribe
  .subscribe
    h4 Подпишитесь на рассылку
    p Получайте свежие статьи на ваш электронный адрес 
    form(action="get")
      input(type="email" placeholder="Ваш электронный адрес")
      input(type="button" value="Подписаться").button

mixin category__item(link, name)
  li.category__item
    a(href= link).category__link= name







